config-adp/v12.1.0.1-local/apic-toolkit/toolkit-mac.zip filter=lfs diff=lfs merge=lfs -text
config-adp/v12.1.0.1-local/maildev/maildev-2.2.1-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
